body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container {
    padding: 20px;
}

#content {
    max-width: 50%;
    margin: 0 auto;
}

h1 {
    color: #00bfff;  // Light blue heading color
}

/* Navigation */
.sidebar {
  margin: 28px 0 0 0;
  width: 175px;
  background-color: #333;
  position: fixed;
  height: 90%;
  z-index: 100;
  overflow: auto;
  opacity: 0.7;
}

.sidebar a {
  display: block;
  padding: 16px;
  color: white;
  text-decoration: none;
}

.sidebar .icon {
  display: none;
}

/* Scene */
#sceneContainer {
    position: fixed;
    top: 0;
    left: 0;
}

/* Wordcloud */
#wordcloud {
    background: white;
    width: 100%;
    height: 400px;
    padding: 10px;
    opacity: 0.25;
    overflow: auto;
}

.word {
    cursor: pointer;
}


#tileContainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.tile {
    position: relative;
    display: inline-block;
    border: 1px solid #ddd;
    width: 47%;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    background-color: rgba(248,248,255,0.75);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.tile:hover {
    transform: scale(1.05);
}

.tile img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.tile-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.tile-summary {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.tile-info {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 5px;
}

.tile-info p {
    position: absolute;
    top: 2px;
    background-color: lightblue;
    margin: 0 0 3px 0;
    padding: 2px;
    border-radius: 2px;
}

.tile-info p.tile-type {
    left: 2px;
}

.tile-info p.tile-source {
    top: 30px;
    left: 2px;
}

.tile-info p.tile-date {
    right: 2px;
}

.tile-info p.tile-sentiment {
    top: 30px;
    right: 2px;
}

.tile a {
    text-decoration: none;
}


@media screen and (max-width: 900px) {
    .container {
        padding: 0px;
    }
  .sidebar {
    width: 100%;
    margin: 0;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  #content {
    max-width: 80%;
  }
}


@media screen and (max-width: 500px) {
  .sidebar a:not(:first-child) {display: none;}
  .sidebar a.icon {
    float: right;
    display: block;
  }

  .sidebar.responsive {position: relative;}
  .sidebar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .sidebar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
