{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Asteroids explorer</h1>
<button id="openFilter" onclick="openFilter()">Open Filters</button>
<div id="filterFormContainer">
    <form action="{% url 'asteroids_explorer' %}" id="filterForm" method="get" style="display: none;">
        <section>
            <label for="is_potentially_hazardous">Potentially Hazardous:</label>
            <div class="switch">
                <input id="is_potentially_hazardous" name="is_potentially_hazardous" type="checkbox" value="true"/>
                <span>
                        <span>False</span>
                        <span>True</span>
                    </span>
                <a></a>
            </div>
        </section>

        <section>
            <label for="is_sentry_object">Sentry Object:</label>
            <div class="switch">
                <input id="is_sentry_object" name="is_sentry_object" type="checkbox" value="true"/>
                <span>
                        <span>False</span>
                        <span>True</span>
                    </span>
                <a></a>
            </div>
        </section>

        <!-- Add other filters as needed -->

        <button class="btn" type="submit">Apply Filters</button>
        <button class="btn cancel" onclick="closeFilter()" type="button">Close</button>
    </form>
</div>
<div id="sceneContainer">
    <script type="module">
            import { importAsteroidModule } from '../static/asteroid.js';
            var asteroidsData = {{ asteroids|default:"null"|safe }};
            var factor = {{ factor|default:10000000|safe }};
            importAsteroidModule(asteroidsData, factor);

    </script>
</div>
{% endblock %}

{% block scripBlock %}
<script>
        function openFilter() {
            document.getElementById("filterForm").style.display = "block";
            document.getElementById("openFilter").style.display = "none";
        }

        function closeFilter() {
            document.getElementById("filterForm").style.display = "none";
            document.getElementById("openFilter").style.display = "block";
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Get the value of the "is_potentially_hazardous" parameter from the URL
            const urlParams = new URLSearchParams(window.location.search);

            // isPotentiallyHazardous
            if (urlParams.get('is_potentially_hazardous') === 'true') {
                document.getElementById('is_potentially_hazardous').checked = true;
            } else {
                document.getElementById('is_potentially_hazardous').checked = false;
            }

            // isPotentiallyHazardous
            if (urlParams.get('is_sentry_object') === 'true') {
                document.getElementById('is_sentry_object').checked = true;
            } else {
                document.getElementById('is_sentry_object').checked = false;
            }
        });

</script>
<script src="../static/asteroid.js" type="module"></script>
{% endblock %}
