{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Asteroids explorer</h1>
    <div id="sceneContainer">
        <script type="module">
            import { importAsteroidModule } from '../static/asteroid.js';
            var asteroidsData = {{ asteroids|default:"null"|safe }};
            importAsteroidModule(asteroidsData);
        </script>
    </div>
{% endblock %}

{% block scripBlock %}
    <script type="module" src="../static/asteroid.js"></script>
{% endblock %}
