<div>
    <!-- Initialize a select button -->
    <select id="selectButtonMagnetometer"></select>
    <div id="magnetometerChart"></div>
</div>

<script>
    var magnetometerData = {{ magnetometer | safe }};
    var allKeys = Object.keys(magnetometerData[0]).filter(key => key !== 'time');

    magnetometerData.forEach(function(d) {
      d.time = parseTime(d.time);
    });

    var dataFilterMagnetometer = magnetometerData.map(d => ({ time: d.time, value: d["he"] }));

    var svg = d3.select("#magnetometerChart")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", `translate(${margin.left},${margin.top})`);

    d3.select("#selectButtonMagnetometer")
      .selectAll('myOptions')
      .data(allKeys)
      .enter()
      .append('option')
      .text((d) => d) // text showed in the menu
      .attr("value", (d) => d);

    const myColor4 = d3.scaleOrdinal()
      .domain(allKeys)
      .range(d3.schemeSet2);

    // Add a clipPath: everything out of this area won't be drawn.
    const clip4 = svg.append("defs").append("svg:clipPath")
      .attr("id", "clip4")
      .append("svg:rect")
      .attr("width", width)
      .attr("height", height)
      .attr("x", 0)
      .attr("y", 0);

    // Add brushing
    var brush = d3.brushX()
      .extent([[0, 0], [width, height]])
      .on("end", zoomGraph);

    // Append x-axis
    var xScale = d3.scaleTime()
      .domain(d3.extent(dataFilterMagnetometer, d => d.time))
      .range([0, 500]);

    const xAxisMagnetometer = svg.append("g")
      .attr("transform", "translate(0, " + (300) + ")")
      .call(d3.axisBottom(xScale));

    const xAxisMagnetometerTitle = svg.append("text")
      .attr("x", (width / 2))
      .attr("y", height - margin.bottom * 2)
      .attr("dy", "2.5em")
      .style("text-anchor", "end")
      .text("Time");

    // Append y-axis
    var yScale = d3.scaleLinear()
      .domain(d3.extent(dataFilterMagnetometer, d => d.value))
      .range([300, 0]);

    const yAxisMagnetometer = svg.append("g")
      .call(d3.axisLeft(yScale));

    const yAxisMagnetometerTitle = svg.append("text")
      .style("text-anchor", "end")
      .attr("transform", "rotate(-90)")
      .attr("x", -margin.top * 6)
      .attr("y", -margin.left + 10)
      .attr("dy", "0.71em")
      .text("Magnetic Field (nT)");

    const lineMagnetometer = svg.append("g")
      .attr("clip-path", "url(#clip4)")

    lineMagnetometer.append("path")
      .datum(dataFilterMagnetometer)
      .attr("class", "lineMagnetometer")
      .attr("d", d3.line()
        .x((d) => xScale(d.time))
        .y((d) => yScale(d.value)))
      .attr("stroke", (d) => myColor4("he"))
      .style("stroke-width", 4)
      .style("fill", "none");

    // Add the brushing
    lineMagnetometer
      .append("g")
      .attr("class", "brush")
      .call(brush);

    // A function that set idleTimeout4 to null
    let idleTimeout4

    function idled() {
      idleTimeout4 = null;
    }

    // A function that update the chart for given boundaries
    function zoomGraph(event, d) {
      // What are the selected boundaries?
      extent = event.selection

      // If no selection, back to initial coordinate. Otherwise, update X axis domain
      if (!extent) {
        if (!idleTimeout4) return idleTimeout4 = setTimeout(idled, 350);
        xScale.domain(d3.extent(dataFilterMagnetometer, d => d.time));
      } else {
        xScale.domain([xScale.invert(extent[0]), xScale.invert(extent[1])])
        lineMagnetometer.select(".brush").call(brush.move, null) // This remove the grey brush area as soon as the selection has been done
      }

      // Update axis and line position
      xAxisMagnetometer.transition().duration(1000).call(d3.axisBottom(xScale))
      lineMagnetometer.select('.lineMagnetometer')
        .transition()
        .duration(1000)
        .attr("d", d3.line()
          .x((d) => xScale(d.time))
          .y((d) => yScale(d.value))
        )
    }

    // If user double click, reinitialize the chart
    svg.on("dblclick", function() {
      xScale.domain(d3.extent(dataFilterMagnetometer, (d) => d.time))
      xAxisMagnetometer.transition().call(d3.axisBottom(xScale))
      lineMagnetometer
        .select('.lineMagnetometer')
        .transition()
        .attr("d", d3.line()
          .x((d) => xScale(d.time))
          .y((d) => yScale(d.value))
        )
    });


    function changeGraphMagnetometer(selectedGroup) {
      dataFilterMagnetometer = magnetometerData.map(function(d) {
        return {
          time: d.time,
          value: d[selectedGroup]
        }
      })

      // Give these new data to update line
      yScale.domain(d3.extent(dataFilterMagnetometer, d => d.value));
      yAxisMagnetometer.call(d3.axisLeft(yScale));
      yAxisMagnetometerTitle.text("Magnetic Field (nT)");

      lineMagnetometer.select(".lineMagnetometer")
        .datum(dataFilterMagnetometer)
        .transition()
        .duration(1000)
        .attr("d", d3.line()
          .x((d) => xScale(+d.time))
          .y((d) => yScale(+d.value)))
        .attr("stroke", (d) => myColor4(selectedGroup))
    }

    d3.select("#selectButtonMagnetometer").on("change", function(event, d) {
      const selectedOption = d3.select(this).property("value")
      changeGraphMagnetometer(selectedOption)
    })

</script>