{% extends 'base.html' %}

{% block title %}News{% endblock %}

{% block content %}
    <h1>News</h1>
    <script>
        var newsData = {{ news_data|default:"null"|safe }};
        var wordData = {{ news_data_word|safe }};
    </script>
    <svg id="wordcloud"></svg>

    <!-- Tiles -->
    <div id="tileContainer"></div>
    <div>
        <button onclick="prevPage()">Previous</button>
        <button onclick="nextPage()">Next</button>
    </div>
{% endblock %}

{% block scripBlock %}
     <script src="../static/news.js"></script>
{% endblock %}
