<div>
    <!-- Initialize a select button -->
    <select id="selectButtonProtons"></select>
    <div id="protonsChart"></div>
</div>

<script>
    var protonsData = {{ proton | safe }};
    var allKeys = Object.keys(protonsData);

    Object.keys(protonsData).forEach(function(key) {
        protonsData[key].forEach(function(d) {
            d.time = parseTime(d.time);
        });
    });

    var selectedKey = allKeys[0];
    var dataFilterProtons = protonsData[selectedKey]
        .map(d => ({ time: d.time, value: d["flux"] }))
        .sort((a, b) => a.time - b.time);

    var svg = d3.select("#protonsChart")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", `translate(${margin.left},${margin.top})`);

    d3.select("#selectButtonProtons")
      .selectAll('myOptions')
      .data(allKeys)
      .enter()
      .append('option')
      .text((d) => d) // text showed in the menu
      .attr("value", (d) => d);

    const myColor3 = d3.scaleOrdinal()
      .domain(allKeys)
      .range(d3.schemeSet2);

    // Add a clipPath: everything out of this area won't be drawn.
    const clip3 = svg.append("defs").append("svg:clipPath")
      .attr("id", "clip3")
      .append("svg:rect")
      .attr("width", width)
      .attr("height", height)
      .attr("x", 0)
      .attr("y", 0);

    // Add brushing
    var brush = d3.brushX()
      .extent([[0, 0], [width, height]])
      .on("end", zoomGraph);

    // Append x-axis
    var xScale = d3.scaleTime()
      .domain(d3.extent(dataFilterProtons, d => d.time))
      .range([0, 500]);

    const xAxisProtons = svg.append("g")
      .attr("transform", "translate(0, " + (300) + ")")
      .call(d3.axisBottom(xScale));

    const xAxisProtonsTitle = svg.append("text")
      .attr("x", (width / 2))
      .attr("y", height - margin.bottom * 2)
      .attr("dy", "2.5em")
      .style("text-anchor", "end")
      .text("Time");

    // Append y-axis
    var yScale = d3.scaleLinear()
      .domain(d3.extent(dataFilterProtons, d => d.value))
      .range([300, 0]);

    const yAxisProtons = svg.append("g")
      .call(d3.axisLeft(yScale));

    const yAxisProtonsTitle = svg.append("text")
      .style("text-anchor", "end")
      .attr("transform", "rotate(-90)")
      .attr("x", -margin.top * 6)
      .attr("y", -margin.left + 10)
      .attr("dy", "0.71em")
      .text("Flux");

    const lineProtons = svg.append("g")
      .attr("clip-path", "url(#clip3)")

    lineProtons.append("path")
      .datum(dataFilterProtons)
      .attr("class", "lineProtons")
      .attr("d", d3.line()
        .x((d) => xScale(d.time))
        .y((d) => yScale(d.value)))
      .attr("stroke", (d) => myColor3("energy"))
      .style("stroke-width", 4)
      .style("fill", "none");

    // Add the brushing
    lineProtons
      .append("g")
      .attr("class", "brush")
      .call(brush);

    // A function that set idleTimeout3 to null
    let idleTimeout3

    function idled() {
      idleTimeout3 = null;
    }

    // A function that update the chart for given boundaries
    function zoomGraph(event, d) {
      // What are the selected boundaries?
      extent = event.selection

      // If no selection, back to initial coordinate. Otherwise, update X axis domain
      if (!extent) {
        if (!idleTimeout3) return idleTimeout3 = setTimeout(idled, 350);
        xScale.domain(d3.extent(dataFilterProtons, d => d.time));
      } else {
        xScale.domain([xScale.invert(extent[0]), xScale.invert(extent[1])])
        lineProtons.select(".brush").call(brush.move, null) // This remove the grey brush area as soon as the selection has been done
      }

      // Update axis and line position
      xAxisProtons.transition().duration(1000).call(d3.axisBottom(xScale))
      lineProtons.select('.lineProtons')
        .transition()
        .duration(1000)
        .attr("d", d3.line()
          .x((d) => xScale(d.time))
          .y((d) => yScale(d.value))
        )
    }

    // If user double click, reinitialize the chart
    svg.on("dblclick", function() {
      xScale.domain(d3.extent(dataFilterProtons, (d) => d.time))
      xAxisProtons.transition().call(d3.axisBottom(xScale))
      lineProtons
        .select('.lineProtons')
        .transition()
        .attr("d", d3.line()
          .x((d) => xScale(d.time))
          .y((d) => yScale(d.value))
        )
    });


    function changeGraphProtons(selectedGroup) {
      dataFilterProtons = protonsData[selectedGroup]
        .map(d => ({ time: d.time, value: d["flux"] }))
        .sort((a, b) => a.time - b.time);

      // Give these new data to update line
      yScale.domain(d3.extent(dataFilterProtons, d => d.value));
      yAxisProtons.call(d3.axisLeft(yScale));
      yAxisProtonsTitle.text("Flux");

      lineProtons.select(".lineProtons")
        .datum(dataFilterProtons)
        .transition()
        .duration(1000)
        .attr("d", d3.line()
          .x((d) => xScale(+d.time))
          .y((d) => yScale(+d.value)))
        .attr("stroke", (d) => myColor3(selectedGroup))
    }

    d3.select("#selectButtonProtons").on("change", function(event, d) {
      selectedKey = d3.select(this).property("value")
      changeGraphProtons(selectedKey)
    })
</script>