<div>
    <!-- Initialize a select button -->
    <select id="selectButtonSolarWindPlasma"></select>
    <div id="windPlasmaChart"></div>
</div>

<script>
    var solarWindPlasmaData = {{ plasma | safe }};
    var allKeys = Object.keys(solarWindPlasmaData[0]).filter(key => key !== 'time');

    solarWindPlasmaData.forEach(function(d) {
      d.time = parseTime(d.time);
    });

    var dataFilterSolarWindPlasma = solarWindPlasmaData.map(d => ({ time: d.time, value: d["density"] }));

    var svg = d3.select("#windPlasmaChart")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", `translate(${margin.left},${margin.top})`);

    d3.select("#selectButtonSolarWindPlasma")
      .selectAll('myOptions')
      .data(allKeys)
      .enter()
      .append('option')
      .text((d) => d) // text showed in the menu
      .attr("value", (d) => d);

    const myColor2 = d3.scaleOrdinal()
      .domain(allKeys)
      .range(d3.schemeSet2);

    // Add a clipPath: everything out of this area won't be drawn.
    const clip2 = svg.append("defs").append("svg:clipPath")
      .attr("id", "clip2")
      .append("svg:rect")
      .attr("width", width)
      .attr("height", height)
      .attr("x", 0)
      .attr("y", 0);

    // Add brushing
    var brush = d3.brushX()
      .extent([[0, 0], [width, height]])
      .on("end", zoomGraph);

    // Append x-axis
    var xScale = d3.scaleTime()
      .domain(d3.extent(dataFilterSolarWindPlasma, d => d.time))
      .range([0, 500]);

    const xAxisSolarWindPlasma = svg.append("g")
      .attr("transform", "translate(0, " + (300) + ")")
      .call(d3.axisBottom(xScale));

    const xAxisSolarWindPlasmaTitle = svg.append("text")
      .attr("x", (width / 2))
      .attr("y", height - margin.bottom * 2)
      .attr("dy", "2.5em")
      .style("text-anchor", "end")
      .text("Time");

    // Append y-axis
    var yScale = d3.scaleLinear()
      .domain(d3.extent(dataFilterSolarWindPlasma, d => d.value))
      .range([300, 0]);

    const yAxisSolarWindPlasma = svg.append("g")
      .call(d3.axisLeft(yScale));

    const yAxisSolarWindPlasmaTitle = svg.append("text")
      .style("text-anchor", "end")
      .attr("transform", "rotate(-90)")
      .attr("x", -margin.top * 6)
      .attr("y", -margin.left + 10)
      .attr("dy", "0.71em")
      .text("Values");

    const lineSolarWindPlasma = svg.append("g")
      .attr("clip-path", "url(#clip2)")

    lineSolarWindPlasma.append("path")
      .datum(dataFilterSolarWindPlasma)
      .attr("class", "lineSolarWindPlasma")
      .attr("d", d3.line()
        .x((d) => xScale(d.time))
        .y((d) => yScale(d.value)))
      .attr("stroke", (d) => myColor2("density"))
      .style("stroke-width", 4)
      .style("fill", "none");

    // Add the brushing
    lineSolarWindPlasma
      .append("g")
      .attr("class", "brush")
      .call(brush);

    // A function that set idleTimeout2 to null
    let idleTimeout2

    function idled() {
      idleTimeout2 = null;
    }

    // A function that update the chart for given boundaries
    function zoomGraph(event, d) {
      // What are the selected boundaries?
      extent = event.selection

      // If no selection, back to initial coordinate. Otherwise, update X axis domain
      if (!extent) {
        if (!idleTimeout2) return idleTimeout2 = setTimeout(idled, 350);
        xScale.domain(d3.extent(dataFilterSolarWindPlasma, d => d.time));
      } else {
        xScale.domain([xScale.invert(extent[0]), xScale.invert(extent[1])])
        lineSolarWindPlasma.select(".brush").call(brush.move, null) // This remove the grey brush area as soon as the selection has been done
      }

      // Update axis and line position
      xAxisSolarWindPlasma.transition().duration(1000).call(d3.axisBottom(xScale))
      lineSolarWindPlasma.select('.lineSolarWindPlasma')
        .transition()
        .duration(1000)
        .attr("d", d3.line()
          .x((d) => xScale(d.time))
          .y((d) => yScale(d.value))
        )
    }

    // If user double click, reinitialize the chart
    svg.on("dblclick", function() {
      xScale.domain(d3.extent(dataFilterSolarWindPlasma, (d) => d.time))
      xAxisSolarWindPlasma.transition().call(d3.axisBottom(xScale))
      lineSolarWindPlasma
        .select('.lineSolarWindPlasma')
        .transition()
        .attr("d", d3.line()
          .x((d) => xScale(d.time))
          .y((d) => yScale(d.value))
        )
    });


    function changeGraphSolarWindPlasma(selectedGroup) {
      dataFilterSolarWindPlasma = solarWindPlasmaData.map(function(d) {
        return {
          time: d.time,
          value: d[selectedGroup]
        }
      })

      // Give these new data to update line
      yScale.domain(d3.extent(dataFilterSolarWindPlasma, d => d.value));
      yAxisSolarWindPlasma.call(d3.axisLeft(yScale));
      yAxisSolarWindPlasmaTitle.text("Values");

      lineSolarWindPlasma.select(".lineSolarWindPlasma")
        .datum(dataFilterSolarWindPlasma)
        .transition()
        .duration(1000)
        .attr("d", d3.line()
          .x((d) => xScale(+d.time))
          .y((d) => yScale(+d.value)))
        .attr("stroke", (d) => myColor2(selectedGroup))
    }

    d3.select("#selectButtonSolarWindPlasma").on("change", function(event, d) {
      const selectedOption = d3.select(this).property("value")
      changeGraphSolarWindPlasma(selectedOption)
    })
</script>