{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block styleBlock %}
<style>
    #content {
        background-color: rgba(255,255,255,0.4);
        padding: 10px;
    }

    table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}

{% block content %}
    <h1>Explore the Cosmos</h1>
    <p>
        elcome to the exciting world of space exploration! Learn about the wonders of space and
        the opportunities to travel beyond our planet with leading space companies.
    </p>

    <h2>Space Travel Options</h2>

    <p>Here are some of the top companies offering space travel experiences:</p>

    <ul>
        <li>
            <strong>SpaceX:</strong>
            SpaceX, founded by Elon Musk, is known for its ambitious goals of making space travel more accessible.
            Check their website for the latest information on space travel opportunities.</li>
        <li>
            <strong>Blue Origin:</strong>
            Blue Origin, founded by Jeff Bezos, is dedicated to creating a future where millions of people
            can live and work in space. Explore their website for details on suborbital and orbital spaceflights.</li>
        <li>
            <strong>Virgin Galactic:</strong>
            Virgin Galactic, led by Sir Richard Branson, focuses on commercial space tourism.
            Discover their spaceflight experiences and how you can be part of the journey.</li>
    </ul>

    <h2>Space Travel Prices</h2>

    <p>
        While the dream of space travel is becoming a reality, it's essential to consider the costs involved.
        Here's a general overview of the prices for space travel with these companies:
    </p>

    <table>
        <tr>
            <th>Company</th>
            <th>Suborbital Flight</th>
            <th>Orbital Flight</th>
        </tr>
        <tr>
            <td>SpaceX</td>
            <td>Contact for Pricing</td>
            <td>Contact for Pricing</td>
        </tr>
        <tr>
            <td>Blue Origin</td>
            <td>$200,000 - $300,000</td>
            <td>Contact for Pricing</td>
        </tr>
        <tr>
            <td>Virgin Galactic</td>
            <td>$250,000</td>
            <td>Contact for Pricing</td>
        </tr>
    </table>

    <p>
        Please note that these prices are approximate and subject to change.
        Contact the respective companies for the most up-to-date information on space travel experiences and pricing.
    </p>
    <p>Embark on the journey of a lifetime and experience the thrill of space exploration!</p>
{% endblock %}

{% block scripBlock %}

{% endblock %}
